@{
Layout=null;
}

@model CoffeShopApp.Models.UserData
   

<!DOCTYPE html>
<html lang="en">
<head>
<title>Cafe</title>
<meta charset="utf-8">
<link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/Content/")css/images/favicon.ico">
<link rel="stylesheet" href="@Url.Content("~/Content/")css/style.css" type="text/css" media="all">
<link rel="stylesheet" href="@Url.Content("~/Content/")css/flexslider.css" type="text/css" media="all">
<script src="@Url.Content("~/Content/")js/jquery-1.8.0.min.js"></script>
<!--[if lt IE 9]><script src="js/modernizr.custom.js"></script><![endif]-->
<script src="@Url.Content("~/Content/")js/jquery.flexslider-min.js"></script>
<script src="@Url.Content("~/Content/")js/functions.js"></script>
</head>
<body>
<!-- wrapper -->
<div id="wrapper">
  <!-- header -->
  <div class="header">
    <!-- shell -->
    <div class="shell">
      <h1 id="logo"><a href="#">cafe</a></h1>
      <div class="testimonials">
        <div class="testimonials-slider flexslider">
          <ul class="slides">
            <li>
              <h4>“The best espresso in downtown!”</h4>
              <div class="rating"> <a href="#" class="active"></a> <a href="#" class="active"></a> <a href="#" class="active"></a> <a href="#" class="active"></a> <a href="#" class="active"></a> </div>
              <p> - John Cooper, Gourmet</p>
              <div class="cl">&nbsp;</div>
            </li>
            <li>
              <h4>"Yummy cupcakes and donuts!"</h4>
              <div class="rating"> <a href="#" class="active"></a> <a href="#" class="active"></a> <a href="#" class="active"></a> <a href="#"></a> <a href="#"></a> </div>
              <p> - Ann Doe, Teacher</p>
              <div class="cl">&nbsp;</div>
            </li>
            <li>
              <h4>"Had a real fun there!"</h4>
              <div class="rating"> <a href="#" class="active"></a> <a href="#" class="active"></a> <a href="#" class="active"></a> <a href="#" class="active"></a> <a href="#"></a> </div>
              <p> - Lisa Doe, Lawyer</p>
              <div class="cl">&nbsp;</div>
            </li>
            <li>
              <h4>"Great atmosphere!"</h4>
              <div class="rating"> <a href="#" class="active"></a> <a href="#" class="active"></a> <a href="#" class="active"></a> <a href="#" class="active"></a> <a href="#" class="active"></a> </div>
              <p> - Gordon Doe, Manager</p>
              <div class="cl">&nbsp;</div>
            </li>
            <li>
              <h4>"Tastes good!"</h4>
              <div class="rating"> <a href="#" class="active"></a> <a href="#" class="active"></a> <a href="#" class="active"></a> <a href="#" class="active"></a> <a href="#"></a> </div>
              <p> - Orman Kent, Architect</p>
              <div class="cl">&nbsp;</div>
            </li>
          </ul>
        </div>
      </div>
      <!-- header-right -->
      <div class="header-right">
        <div class="subscribe"> <a href="#"><span></span>Subscribe</a> </div>
        <div class="socials"> <a href="#" class="facebook-ico">facebook</a> <a href="#" class="twitter-ico">twitter</a> </div>
        <div class="cl">&nbsp;</div>
      </div>
      <div class="cl">&nbsp;</div>
      <!-- end of header -->
      <!-- navigation -->
      <nav id="navigation">
        <ul>
          <li><a href="#">Homepage</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Our Menu</a></li>
          <li><a href="#">Reservations</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Showcase</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </nav>
      <!-- end of navigation -->
      <!-- slider-holder -->
      <div class="slider-holder"> <span class="left"></span> <span class="right"></span>
        <!-- flexslider -->
        <div class="big-slider">
          <ul class="slides">
            <li> <img src="css/images/slide-img.png" alt="" class="alignleft">
              <div class="slide-cnt">
                <h2>Amazing Coffee <br>
                  &amp; Delicious Cupcakes</h2>
                <p>Vivamus ultrices tincidunt eros, sed sollicitudin est condimentum quis. Nulla a purus sit amet enim tincidunt varius vel a libero. Aenean neque dolor, tristique eu fermentum quis, imperdiet tincidunt ligula. Ut ut est erat, eget tempor odio vestibulum sed diam orci, vel mattis purus. Donec faucibus neque eu turpis imperdiet commodo. </p>
                <a href="#" class="red-btn">Find Out More!</a> </div>
            </li>
            <li> <img src="css/images/slide-img2.png" alt="" class="alignleft">
              <div class="slide-cnt">
                <h2>Amazing Coffee <br>
                  &amp; Delicious Cupcakes</h2>
                <p>Vivamus ultrices tincidunt eros, sed sollicitudin est condimentum quis. Nulla a purus sit amet enim tincidunt varius vel a libero. Aenean neque dolor, tristique eu fermentum quis, imperdiet tincidunt ligula. Ut ut est erat, eget tempor odio vestibulum sed diam orci, vel mattis purus. Donec faucibus neque eu turpis imperdiet commodo. </p>
                <a href="#" class="red-btn">Find Out More!</a> </div>
            </li>
            <li> <img src="css/images/slide-img3.png" alt="" class="alignleft">
              <div class="slide-cnt">
                <h2>Amazing Coffee <br>
                  &amp; Delicious Cupcakes</h2>
                <p>Vivamus ultrices tincidunt eros, sed sollicitudin est condimentum quis. Nulla a purus sit amet enim tincidunt varius vel a libero. Aenean neque dolor, tristique eu fermentum quis, imperdiet tincidunt ligula. Ut ut est erat, eget tempor odio vestibulum sed diam orci, vel mattis purus. Donec faucibus neque eu turpis imperdiet commodo. </p>
                <a href="#" class="red-btn">Find Out More!</a> </div>
            </li>
          </ul>
        </div>
        <!-- end of flexslider -->
      </div>
      <!-- end of slider -->
    </div>
    <!-- end of shell -->
  </div>
  <!-- end of header -->
  <!-- main -->
  <div class="main">
    <div class="shell">
      <!-- cols -->
      <section class="cols">
        <div class="col">
          <h3>Fantastic Donuts </h3>
          <img src="@Url.Content("~/Content/")css/images/cols-img.png" alt="" class="alignleft">
          <div class="cnt">
            <p>Lorem ipsum dolor sit amet, con<br>
              sectetur adipiscing elit. Cras molestie condimentum conse am leom.</p>
           
             <a href="Order?product=donut" class="dot">Order Donuts</a>  
          </div>
        </div>
        <div class="col">
          <h3>Delicious Cupcakes</h3>
          <img src="@Url.Content("~/Content/")css/images/cols-img2.png" alt="" class="alignleft">
          <div class="cnt">
            <p>Get some cupcakes.</p>
            <a href="Order?product=cupcakes" class="dot">Order Cupcakes</a> </div>
        </div>
        <div class="col">
          <h3>Address n stuff</h3>
            
          <img src="@Url.Content("~/Content/")css/images/cols-img3.png" alt="" class="alignleft">
          <div class="cnt">
            <a href="#" class="dot">View Map</a> </div>
        </div>
        <div class="cl">&nbsp;</div>
      </section>
      <!-- end of cols -->
      <!-- content -->
      <div class="content">
        <h3>Signup for Updates!</h3>
       <form action="ProcessSignup" method="post">
       Name: <input type="text" name="UName" />
          <br/>
          Email: <input type="text" name="Email" />
          <input type="submit" name="input" />
                    </form>
          <h3>@ViewBag.Message</h3>
      </div>
        <table border="1" >
        @foreach(var item in ViewBag.productList)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    <a href="/Main/Order?product=@item.Name">Add to cart</a>
                </td>
            </tr>
        }
        </table>
      <!-- end of content -->
      <!-- sidebar -->
      <aside class="sidebar">
        <div class="widget">
          <div class="facebook-social">
              <table>
                  @if (ViewBag.Cart != null)
                  {
                      <tr>
                          <th>Name</th>
                          <th>Price</th>
                          <th>Quantity</th>
                          <th>Total</th>
                      </tr>
                      foreach (var item in ViewBag.Cart)
                      {

                          <tr><td>@item.Name</td><td>@item.Price</td><td>@item.Qty</td></tr>

                      }

                  }
                
                  </table>

          </div>
        </div>
      </aside>
      <!-- end of sidebar -->
      <div class="cl">&nbsp;</div>
    </div>
  </div>
  <!-- end of main -->
  <div id="footer-push"></div>
  <!-- end of wrapper -->
</div>
<div id="footer">
  <div class="shell">
    <div class="footer-nav">
      <ul>
        <li><a href="#">Homepage</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Our Menu</a></li>
        <li><a href="#">Reservations</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Showcase</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
    <p class="copy">© Copyright 2012<span>|</span>Café CSS Template. Design by <a target="_blank" href="http://chocotemplates.com">ChocoTemplates</a></p>
  </div>
</div>
</body>
</html>